.game-body {
  padding: 20px;
  border-radius: 10px;
  background: #ff4c0de6;
  box-shadow: 2px 2px 5px black;
  margin: 5px auto;
  color: white;
  width: 1200px;
}

.board {
  height: 26px;
  z-index: 1;
}

.row {
  margin-bottom: 6px;
  padding: 2px;
}

.column {
  border: 1px solid rgba(97, 131, 138, .1);
  width: 32px;
  height: 32px;
  display: inline-block;
  z-index: 1;
  background-position: center;
	background-repeat: no-repeat;
  background-size: contain;
}

.col-md-8 {
  z-index: 0;
}