.about-us-container {
  padding: 20px;
  border-radius: 10px;
  background: #ff4c0de6;
  box-shadow: 2px 2px 5px black;
  width: 50%;
  color: white;
  margin: 10px auto;
}

img {
  width: 100%;
}

.card {
  color: black;
}

