.albums {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.album, .songs li {
  cursor: pointer;
}

.card {
  width: 250px;
  height: auto;
  text-align: center;
}

.card h4 {
  font-size: 1vw;
}

.btn {
  margin-top: 5px;
}
