.jukebox-body {
  padding: 20px;
  border-radius: 10px;
  background: #ff4c0de6;
  box-shadow: 2px 2px 5px black;
  width: 80%;
  margin: 10px auto;
  color: white;
}

.albums-holder h3 {
  text-align: center;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.album, .songs li {
  cursor: pointer;
}

.card {
  width: 250px;
  height: auto;
  text-align: center;
  color: black;
  margin: 10px;
}

.card h4 {
  font-size: 1vw;
}

.btn {
  margin-top: 5px;
}

.playlist {
  margin-top: 10px;
  margin-bottom: 10px;
}

.playlist .card {
  width: 100%;
}

.trackInfo {
  line-height: 80%;
  text-align: center;
  margin-top: 10px;
}

.currentSongImage {
  position: relative;
  width: 100px;
  height: auto;
  float: left;
}
