.cider-list {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  width: 75%;
  margin: 10px auto;
  background-image: linear-gradient(#e4cc99, rgb(255, 180, 27));
}

.cider-list-container {
  margin: 0 auto;
  width: 100%;
}