.cider-list {
  padding: 20px;
  border-radius: 10px;
  background: #ff4c0de6;
  box-shadow: 2px 2px 5px black;
  width: 25%;
  margin: 40px auto;
  color: white;
}

hr {
  border-top: 1px solid rgb(0, 0, 0);
}

h1 {
  display: inline;
}

.delete-all {
  margin-left: 25px;
  margin-bottom: 5px;
}