footer { 
    position: absolute;
    height: 60px;
    width: 100%;
    background: #ffdeb8;
    border-top: 4px solid #e76c1f;
    z-index: 999;
}

.footer-link {
    position: relative;
    top: 15px;
}