<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="">Citrus Ciderhouse</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="about">Who We Are</a>
      <a class="nav-item nav-link" href="ciders">Our Ciders</a>
      <a class="nav-item nav-link" href="menu">Food Menu</a>
      <a class="nav-item nav-link" href="merch">Merch Shop</a>
      <a class="nav-item nav-link" href="jukebox">Jukebox</a>
      <div *ngIf="isLoggedIn">
        <a class="nav-item nav-link logButton" href="#" (click)="logout()">Log out</a>
      </div>
      <div *ngIf="!isLoggedIn">
        <a class="nav-item nav-link logButton" href="#" (click)="login()">Log in</a>
      </div>
    </div>
  </div>
</nav>
<img id="lemon-logo" src="../../../assets/lemon.png" alt="lemon">
