<div class="row">
  <div class="col-auto" *ngFor="let comment of comments">
    <div class="card mb-3" style="max-width: 18rem;">
    <div class="card-header">{{comment.name}}</div>
    <div class="card-body">
      <p class="card-text">{{comment.message}}</p>
      <input class="form-check-input" type="checkbox" value="" class="publish" (change)="togglePublish($event, this.comment)">
       Comment is <span *ngIf="this.comment.publish == true">published</span><span *ngIf="this.comment.publish ==  false">unpublished</span>
      <span class="checkmark"></span>
    </div>
    <div class="card-footer">posted on {{comment.timestamp.value | date:'short'}}</div>
  </div>
  </div>
</div>