<div class="row">
  <div class="col-auto" *ngFor="let comment of comments">
    <div class="card mb-3" style="max-width: 18rem;">
    <div class="card-header">{{comment.name}}</div>
    <div class="card-body">
      <p class="card-text">{{comment.message}}</p>
      <label class="form-check-label" for="publish" >Publish?</label>
      <input class="form-check-input" [(ngModel)]="theCheckbox" type="checkbox" value="" class="publish" (change)="togglePublish($event)">
       Checkbox is <span *ngIf="marked">checked</span><span *ngIf="!marked">unchecked</span>
      <span class="checkmark"></span>
    </div>
    <div class="card-footer">posted on {{comment.timestamp.value | date:'short'}}</div>
  </div>
  </div>
</div>