<ngb-tabset>
  <ngb-tab title="Users" class="tabTitle">
    <ng-template ngbTabContent>
      <app-admin-users></app-admin-users>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Comments">
    <ng-template ngbTabContent>
      <app-admin-comments></app-admin-comments>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><span class="tabTitle">Ciders</span></ng-template>
    <ng-template ngbTabContent>
      <app-admin-ciders></app-admin-ciders>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Menu">
    <ng-template ngbTabContent>
      <app-admin-menu></app-admin-menu>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Merch">
    <ng-template ngbTabContent>
      <app-admin-merch></app-admin-merch>
    </ng-template>
  </ngb-tab>
</ngb-tabset>