.contactUsContainer {
  box-sizing: border-box;
  text-align: center;
  background: green;
  width: 100%;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  padding: 25px;
  padding: 20px;
  background: #ff4c0de6;
  box-shadow: 2px 2px 5px black;
  color: white;
}