.background-apple {
	background-image: url('../assets/apple-background.jpg');
	height: 500px; 
	width: 100%;
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.background-citrus {
	background-image: url('../assets/citrus-background.jpg');
	height: 500px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}