.parallax {
	/* The image used */
	background-image: url("../assets/citrus-background.jpg");

	/* Set a specific height */
	min-height: 350px; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}