<div class="container subscribe-container">
  <form>
    <div class="header-content">
      <h2>Drop us a comment</h2>
      <p>If you had a great experience, drop us a comment below and let us know!</p>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Name">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Email">
      </div>
    </div>
    <div class="form-group commentArea">
      <textarea class="form-control" id="commentArea" rows="3" placeholder="Message"></textarea>
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>

