.subscribe-container {
  padding: 20px;
  border-radius: 10px;
  background: #3c1406e6;
  box-shadow: 2px 2px 5px black;
  position: fixed;
  left: 30%;
  top: 160px;
}

.header-content {
  text-align: center;
  color: white;
}

.row {
  margin-bottom: 10px;
}

.commentArea {
  margin-bottom: 10px;
}