.menu-list {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  width: 75%;
  margin: 10px auto;
  background-image: linear-gradient(#e2fce199, rgb(255, 180, 27));
}

.menu-title {
  font-family: 'Pacifico', cursive;
  font-size: 58px;
  color: #840000;
  text-shadow: #020202 0.5px 0.5px 1px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.menu-item {
  text-align: center;
}

hr {
  border-top: 4px solid rgb(132, 0, 0);
  margin-top: 8px;
  margin-bottom: 16px;
}
