.cider-details {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

label {
  font-weight: bold;
}

.name {
  font-family: 'Pacifico', serif;
  font-size: 24px;
  margin-bottom: 15px;
  display: block;
}

.delete-cider-button {
  margin-right: 10px;
}

